<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% if(typeof title !== 'undefined'){ %> 
      <%=title %> 
    <% }else{%>
      test
      <% } %>  
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/avatars.css" />
    <link rel="stylesheet" href="/stylesheets/text.css">
    <link rel="stylesheet" href="/stylesheets/container.css">
    <link rel="stylesheet" href="/stylesheets/button.css">
    <link rel="stylesheet" href="/stylesheets/message.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Caveat:wght@400;500;600&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> 

    <body>
    <%- body %>
    <%- include('partials/footer') %> 
  </body>
</html>
