<%- include('partials/headerSimple')%>

<div class="formContainer">
  <h2>To become a member you need to figure the riddle bellow</h2>
  <p>
    You walk into a room and see a bed. On the bed, there are two dogs, five
    cats, a giraffe, six cows, and a goose. There are also three doves flying
    above the bed.
  </p>
  <div>
    <form action="" method="POST">
      <div class="formItem">
        <label for="anwser">How many legs are on the floor?</label>
        <input
          type="text"
          id="answer"
          name="answer"
          required
          placeholder="Enter your answer here!"
        />
      </div>
      <div>
        <% if(typeof errors != 'undefined'){ %> <% errors.forEach(error =>{ %>
        <p class="errorText"><%= error.msg %></p>
        <% }) %> <% } %>
      </div>
      <div class="formItem">
        <button type="submit" class="normalBtn">Submit</button>
        <a href="/"><button type="button" class="normalBtn">Cancel</button></a>
      </div>
    </form>
  </div>
</div>
