<%- include('partials/headerSimple')%>
<div class="formContainer">
  <form action="/message" method="POST">
    <div class="formItem">
      <label for="userMessageTitle">Message Title:</label>
      <input
        type="text"
        name="userMessageTitle"
        id="userMessageTitle"
        value="<% typeof message == 'undefined'? '': message.title %> "
        required
      />
    </div>
    <div class="formItem">
      <textarea
        name="userMessage"
        id="userMessage"
        cols="30"
        rows="10"
        required
        value="<% typeof message == 'undefined'? '': message.text %> "
        placeholder="Add text message here"
      ></textarea>
    </div>
    <div class="formItem">
      <button type="submit" class="normalBtn">Submit</button>
      <a href="/"><button type="button" class="normalBtn">Cancel</button></a>
    </div>
  </form>
  <% if(typeof errors !='undefined'){ %>
    <div>
      <% errors.forEach(err=>{%>
      <p class="errorText"><%=err.msg %></p>
      <% }) %>
    </div>
    <% } %>
</div>
