<%- include('partials/headerSimple')%>


<div class="formContainer">
  <form action="/signup" method="POST">
    <div class="formItem">
      <label for="firstname">First Name:</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        
      />
    </div>
    <div class="formItem">
      <label for="familyname">Family Name:</label>
      <input
        type="text"
        id="familyname"
        name="familyname"
        
      />
    </div>
    <div class="formItem">
      <label for="username">User Name:</label>
      <input
        type="text"
        id="username"
        name="username"
        
      />
      <% if (typeof error != 'undefined'){ %>
      <p><%= error %></p>
      <% } %>
    </div >
    <div class="formItem">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
    </div>
    <div class="formItem">
      <label for="passwordConfirm">Confirm Password:</label>
      <input type="password" id="passwordConfirm" name="passwordConfirm" />
    </div>
    <div class="formItem">
      <label for="admin">Is Admin?:</label>
      <input type="checkbox" id="admin" name="admin" />
    </div>
    <div class="formItemAvatar">
      <p>Choose an avatar:</p>

      <label class="avatars">
        <input
          type="radio"
          id="avatar1"
          value="./images/avatar1.png"
          name="avatar"
        />
        <img src="./images/avatar1.png" alt="avatar1" />
      </label>
      <label class="avatars">
        <input
          type="radio"
          id="avatar2"
          value="./images/avatar2.png"
          name="avatar"
        />
        <img src="./images/avatar2.png" alt="avatar2" />
      </label>
      <label class="avatars">
        <input
          type="radio"
          id="avatar3"
          value="./images/avatar3.png"
          name="avatar"
        />
        <img src="./images/avatar3.png" alt="avatar3" />
      </label>
    </div>
    <div class="formItem">
      <button type="submit" class="normalBtn">Signup</button>
      <a href="/"><button type="button" class="normalBtn">Cancel</button></a>
    </div>

  </form>
  <% if(typeof errors !='undefined'){ %>
    <div>
      <% errors.forEach(err=>{%>
      <p class="errorText"><%=err.msg %></p>
      <% }) %>
    </div>
    <% } %>
</div>


