body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  
}

.formContainer {
  font-family: "Caveat", cursive;
  background-color: #a8dadc;
  box-shadow: 0px 5px 5px gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 28px;
  max-width: max-content;
}

.formContainer input, textarea {
  background-color: #a8dadc;
  border: 0;
  font-size: 28px;
  font-family: "Caveat", cursive;
  color: #e63946;
}

.formItem {
  width: max-content;
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.formItemAvatar {
  margin-left: 30%;
}

.mainContainer{
  padding:20px;
}

.messageContainer{
  color: #1d3557;
  font-family: 'Boogaloo', cursive;
  display: flex;
  flex-direction: column;
  gap:10px;
}



@media screen and (max-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    width: 100%;
  }

  .formContainer {
    position: static;
    transform: none;
    margin-top: 25px;
    width: 100%;
  }
  .formContainer > form {
    display: flex;
    flex-direction: column;
  }

  .formItem {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .formItem > input, textarea{
    width: 75%;
  }

  .formItemAvatar {
    margin-left: 0;
  }
}
